.horaire{
    font-weight: bold;
    margin-bottom: 3rem;
}

h1{
    font-size: 1.2rem;
}

.todo{
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: baseline;
    flex-direction: column;
}

.todo p{
    margin-top: -12px;
}

.addTodo{
    display: flex;
    background: #e5b6be;
    justify-content: space-around;
    margin: auto;
}

.onDragDelete {
    width: 95%;
    height: 150px;
    margin: auto;
    display: flex;
    position: relative;
    border-radius: 12px;
}
.onDragDelete:hover{
    background: #deb8b8;
}

.onDragDelete svg{
    color: black;
    font-size: 1.5rem;
    position: absolute;
    z-index: 100000;
    left: 50%;
    top: 50%;
}

.onDragDelete:hover > svg {
    color: crimson;
}

.onDragDelete:hover > svg > path{
    transform-origin: center;
    transform: scale(1.5);
    transition: all .3s ease-in-out;
}

.onDragDelete div{
    position: relative!important;
    z-index: 100!important;
}
