.todoHead{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 1rem;
}
.firstp{
    font-size: 2rem;
    font-weight: bold;
    color: lightskyblue;
    
}
.horaire{
    font-size: 1.5rem;
    font-weight: 750;
}
.addTodo{
    display: flex;
    justify-content: space-evenly;
}